extends layout

block content
  script(src="javascripts/index.js")
  div.row
    div.col-md-4
      button(type="button" 
             class="btn btn-primary" 
             data-toggle="modal" 
             data-target="#add-record") Add new record
    div.col-md-8
  //- New record modal (popup)
  div.modal#add-record
    div.modal-dialog
      div.modal-content
        div.modal-header
          h4 Add new record
          button(type="button" class="close" data-dismiss="modal") &times;
        div.modal-body
          form(action="/add" method="post")
            div.form-group
              label(for="itemName") Name:
                input(type="text" name="itemName" class="form-control")
            div.form-group
              label(for="amount") Amount:
                input(type="number" name="amount" min="0" value="0" class="form-control")
            div.form-group
              label(for="price") Price:
                input(type="number" name="price" min="0" value="0" step=".01" class="form-control")
            input(type="submit" value="Add new record" class="btn btn-primary")
  //- End modal
  div.row
    div.col-md-12.row-separator
  div.row
    div.col-md-12
      if items
          table.table.table-bordered.table-hover
            tr
              thead.thead-light
                th.th-20 Name
                th.th-15 Amount
                th.th-15 Price
                th.th-45 Options
            each item in items
              tr
                td=item.Name
                td(class="amount-" + item.id)=item.Amount
                td(class="price-" + item.id)=item.Price
                td
                  i.fas.fa-minus.delete-icon &nbsp;
                  a(href="#" onclick="prompt(" + item.id + ")") Delete
                  span &nbsp; &nbsp;
                  i.fas.fa-edit.edit-icon &nbsp;
                  a(href="#" onclick="edit(" + item.id + ")") Edit
                  form(action="/" method="post" id="edit-form")
                    input(type="hidden" name="id" value=item.id)
                    a(href="#" class="edit-controls control-" + item.id id="check")
                      i.fas.fa-check &nbsp;
                    a(href="/" class="edit-controls control-" + item.id id="discard")
                      i.fas.fa-times
